# AdGuardHome
/adguardhome/conf/AdGuardHome.yaml
/adguardhome/work/**
!/adguardhome/work/userfilters
!/adguardhome/work/userfilters/*

# Unbound
/unbound/custom.conf.d

# dnscrypt-proxy
/dnscrypt-proxy/cache/*
