# docker-compose.yml

services:
  adguardhome:
    container_name: adguardhome
    image: docker.io/adguard/adguardhome:latest
    depends_on:
      - unbound
      - valkey
      - dnscrypt-proxy
    ports:
      - 3000:3000/tcp
      - 53:53/tcp
      - 53:53/udp
      - 80:80/tcp
      - 443:443/tcp
      - 443:443/udp
      #######################################
      ## If you are planning to use AdGuard Home
      ## as a DHCP server,
      ## uncomment the following:
      # - 67:67/udp
      # - 68:68/tcp
      # - 68:68/udp
      #######################################
      ## If you are planning to use AdGuard Home
      ## as a DNS-over-QUIC server,
      ## uncomment the following:
      # - 784:784/udp
      # - 853:853/udp
      # - 8853:8853/udp
      #######################################
      ## If you are planning to use AdGuard Home
      ## as a DNSCrypt server,
      ## uncomment the following:
      # - 5443:5443/tcp
      # - 5443:5443/udp
    user: 1000:1000
    volumes:
      - ./adguardhome/conf:/opt/adguardhome/conf:rw
      - ./adguardhome/work:/opt/adguardhome/work:rw
    restart: unless-stopped
    networks:
      - dns_network
  ######################################
  unbound:
    container_name: unbound
    image: docker.io/klutchell/unbound:latest
    depends_on:
      - valkey
      - dnscrypt-proxy
    ports:
      # If port 5353 is not occuppied feel free to use it here.
      - 5363:53/tcp
      - 5363:53/udp
    volumes:
      - ./unbound:/etc/unbound:rw
      - ./unbound/conf.d:/etc/unbound/custom.conf.d:rw
    restart: unless-stopped
    networks:
      - dns_network
    command: ['-d']
  #######################################
  valkey:
    container_name: valkey
    image: docker.io/valkey/valkey:latest
    ports:
      - 6379:6379/tcp
    volumes:
      - ./valkey:/usr/local/etc/valkey:rw
    restart: unless-stopped
    networks:
      - dns_network
  #######################################
  dnscrypt-proxy:
    container_name: dnscrypt-proxy
    image: docker.io/klutchell/dnscrypt-proxy:latest
    # ports:
    #   - 5343:53/tcp
    #   - 5343:53/udp
    volumes:
      - ./dnscrypt-proxy:/config:rw
    restart: unless-stopped
    networks:
      - dns_network

networks:
  dns_network:
    enable_ipv4: true
    enable_ipv6: true
    driver: bridge
