# docker-compose.yml

services:
  adguardhome:
    container_name: adguardhome
    image: docker.io/adguard/adguardhome:latest
    depends_on:
      - knot-resolver
      - dnscrypt-proxy
    ports:
      - 3000:3000/tcp
      - 3000:3000/udp
      - 53:53/tcp
      - 53:53/udp
      - 80:80/tcp
      - 443:443/tcp
      - 443:443/udp
      #######################################
      ## If you are planning to use AdGuard Home
      ## as a DHCP server,
      ## uncomment the following:
      # - 67:67/udp
      # - 68:68/tcp
      # - 68:68/udp
      #######################################
      ## If you are planning to use AdGuard Home
      ## as a DNS-over-QUIC server,
      ## uncomment the following:
      # - 784:784/udp
      # - 853:853/udp
      # - 8853:8853/udp
      #######################################
      ## If you are planning to use AdGuard Home
      ## as a DNSCrypt server,
      ## uncomment the following:
      # - 5443:5443/tcp
      # - 5443:5443/udp
    user: 1000:1000
    volumes:
      - ./adguardhome/conf:/opt/adguardhome/conf:rw
      - ./adguardhome/work:/opt/adguardhome/work:rw
    restart: unless-stopped
    networks:
      dns_network:
        ipv4_address: 172.18.0.5
        ipv6_address: fdbe:1005:e8bf::5
    extra_hosts:
      - knot-resolver:172.18.0.4
      - knot-resolver:fdbe:1005:e8bf::4
  ######################################
  knot-resolver:
    container_name: knot-resolver
    image: docker.io/cznic/knot-resolver:latest
    depends_on:
      - dnscrypt-proxy
    volumes:
      - ./knot/config.yaml:/etc/knot-resolver/config.yaml:rw
      - knot_cache:/var/cache/knot-resolver
    restart: unless-stopped
    networks:
      dns_network:
        ipv4_address: 172.18.0.4
        ipv6_address: fdbe:1005:e8bf::4
  #######################################
  dnscrypt-proxy:
    container_name: dnscrypt-proxy
    image: docker.io/klutchell/dnscrypt-proxy:main
    user: 1000:1000
    volumes:
      - ./dnscrypt-proxy/cache:/var/cache/dnscrypt-proxy:rw
      - ./dnscrypt-proxy:/config:rw
    restart: unless-stopped
    networks:
      dns_network:
        ipv4_address: 172.18.0.2
        ipv6_address: fdbe:1005:e8bf::2

networks:
  dns_network:
    enable_ipv4: true
    enable_ipv6: true
    driver: bridge
    ipam:
      config:
        - subnet: 172.18.0.0/24
        - subnet: fdbe:1005:e8bf::0/64

volumes:
  knot_cache:
    name: knot_cache
    driver: local
    driver_opts:
      type: tmpfs
      device: tmpfs
