# docker-compose.yml

services:
  adguardhome:
    container_name: adguardhome
    image: docker.io/adguard/adguardhome:latest
    depends_on:
      - unbound
      - valkey
      - dnscrypt-proxy
    ports:
      - 3000:3000/tcp
      - 53:53/tcp
      - 53:53/udp
      - 80:80/tcp
      - 443:443/tcp
      - 443:443/udp
      #######################################
      ## If you are planning to use AdGuard Home
      ## as a DHCP server,
      ## uncomment the following:
      # - 67:67/udp
      # - 68:68/tcp
      # - 68:68/udp
      #######################################
      ## If you are planning to use AdGuard Home
      ## as a DNS-over-QUIC server,
      ## uncomment the following:
      # - 784:784/udp
      # - 853:853/udp
      # - 8853:8853/udp
      #######################################
      ## If you are planning to use AdGuard Home
      ## as a DNSCrypt server,
      ## uncomment the following:
      # - 5443:5443/tcp
      # - 5443:5443/udp
    user: 1000:1000
    volumes:
      - ./adguardhome/conf:/opt/adguardhome/conf:rw
      - ./adguardhome/work:/opt/adguardhome/work:rw
    restart: unless-stopped
    networks:
      dns_network:
        ipv4_address: 172.18.0.5
        ipv6_address: fdbe:1005:e8bf::5
    # links:
    #   - unbound:unbound
    #   - valkey:valkey
  ######################################
  unbound:
    container_name: unbound
    image: docker.io/klutchell/unbound:latest
    depends_on:
      - valkey
      - dnscrypt-proxy
    volumes:
      - ./unbound:/etc/unbound:rw
      - ./unbound/conf.d:/etc/unbound/custom.conf.d:rw
    restart: unless-stopped
    networks:
      dns_network:
        ipv4_address: 172.18.0.4
        ipv6_address: fdbe:1005:e8bf::4
    # links:
    #   - valkey:valkey
    command: ['-d']
  #######################################
  valkey:
    container_name: valkey
    image: docker.io/valkey/valkey:latest
    volumes:
      - ./valkey:/usr/local/etc/valkey:rw
    restart: unless-stopped
    networks:
      dns_network:
        ipv4_address: 172.18.0.3
        ipv6_address: fdbe:1005:e8bf::3
  #######################################
  dnscrypt-proxy:
    container_name: dnscrypt-proxy
    image: docker.io/klutchell/dnscrypt-proxy:latest
    volumes:
      - ./dnscrypt-proxy:/config:rw
    restart: unless-stopped
    networks:
      dns_network:
        ipv4_address: 172.18.0.2
        ipv6_address: fdbe:1005:e8bf::2

networks:
  dns_network:
    enable_ipv4: true
    enable_ipv6: true
    driver: bridge
    ipam:
      config:
        - subnet: 172.18.0.0/24
        - subnet: fdbe:1005:e8bf::/64
